#main-svg {
	position: fixed;
	z-index: -1;
	width: 100%;
}


#title {
	font-family: 'Zilla Slab', serif;
	text-align: center;
}

.bigNumber{
	font-size: 64px;
	font-family: 'Montserrat', sans-serif;
	fill: white;
}

.smallText{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	fill: white;
}

.buttonText{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	fill: black;
}

.lable {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	fill: black;
}

.toggleRect{
	fill: #cccccc;
	stroke: black;
}

.toggleRectClick{
	fill: #F9F8F8;
	stroke: black;
}

#myCheckbox{
	
}

.column{
	float: left;
	width: 33.3%;
	height: 1000%;
}

#slider {
	  -webkit-appearance: none;
	  width: 200%;
	  height: 25px;
	  background: #d3d3d3;
	  outline: none;
	  opacity: 0.7;
	  -webkit-transition: .2s;
	  transition: opacity .2s;
}

#slider:hover {
  opacity: 1;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #002694;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#slider-container, #dropdown-container, #checkbox-container, #title {
	float: left;
	width: 25%;
	text-align: center;
}